---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>https://vector-dsp.com/</loc></url>
  <url><loc>https://vector-dsp.com/tonelab.html</loc></url>
  <url><loc>https://vector-dsp.com/privacy.html</loc></url>
  <url><loc>https://vector-dsp.com/terms.html</loc></url>
  <url><loc>https://vector-dsp.com/refunds.html</loc></url>
  <url><loc>https://vector-dsp.com/blog/</loc></url>
{% for post in collections.post %}
  <url>
    <loc>https://vector-dsp.com{{ post.url }}</loc>
    <lastmod>{{ post.data.date | isoDate }}</lastmod>
  </url>
{% endfor %}
</urlset>
